@use "@picocss/pico/scss/pico" with (
  $theme-color: "jade"
);

:root {
	--pico-border-radius: 1rem;
	--pico-spacing: 0.4rem;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

kbd {
	margin: 0.2rem;
}
